################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CdnTech.BookStore/.vs/CdnTech.BookStore
/CdnTech.BookStore/CdnTech.BookStore/bin/Debug/net5.0
/CdnTech.BookStore/CdnTech.BookStore/obj
/CdnTech.BookStore/CdnTech.BookStore/wwwroot/lib/twitter-bootstrap
/CdnTech.BookStore/CdnTech.BookStore/wwwroot/jquery
/CdnTech.BookStore/CdnTech.BookStore/wwwroot/images
